nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

.tooltip {
    position: absolute;
    top: -25px;
    left: 12%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
}

.tooltip2 {
    position: absolute;
    top: -25px;
    left: 27.5%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
}

.tooltip3 {
    position: absolute;
    top: -25px;
    left: 42.5%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
}

.tooltip4 {
    position: absolute;
    top: -25px;
    left: 57.5%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
}

.tooltip5 {
    position: absolute;
    top: -25px;
    left: 72.5%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
}

.tooltip6 {
    position: absolute;
    top: -25px;
    left: 87.5%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 5px;
}